@import 'variables';

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.pad-h-sm {
  padding-left: 1em;
  padding-right: 1em;
}

.text-muted {
  color: $color-muted;
}

.text-mono {
  font-family: $font-mono;
}

.text-primary {
  color: $color-primary;
}

.text-primary.text-muted {
  color: $color-primary-muted;
}

.bg-primary {
  background: $color-primary;
}

hr.sm {
  max-width: 20em;
  margin: auto;
}
