@import 'variables';

#header {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: .7em;
    min-width: 100%;
    background: $color-primary;
  }
}

#footer {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 4em;
}
