@import 'fonts';
@import 'variables';
@import 'classes';

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: $color-text;
  font-family: $font;
  font-size: $font-size;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

hr {
    border: 0;
    height: 1px;
    background: $color-muted;
}
