[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0"
djangorestframework = ">=3.8"
"psycopg2" = "*"
django-markdownx = "*"
python-dotenv = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
django-cors-headers = "*"
django-filter = "*"
factory-boy = "*"
django-storages = "*"
"boto3" = "*"
"beautifulsoup4" = "*"
markdown = "*"
djangorestframework-api-key = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
