[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0"
djangorestframework = ">=3.8"
"psycopg2" = "*"
django-markdownx = "*"
pymdown-extensions = "*"
python-dotenv = "*"
dj-database-url = "*"
whitenoise = "*"
Pygments = "*"
gunicorn = "*"
django-cors-headers = "*"
django-filter = "*"
factory-boy = "*"
django-storages = "*"
"boto3" = "*"

[dev-packages]

[requires]
python_version = "3.7"
