{% extends "base.html" %}

{% block main %}
<div id="app"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

Vue.component('title-editable', {
  template: `
    <h1 contenteditable @input="update"></h1>
  `,
  props: ['content'],
  mounted: function() {
    this.$el.innerText = this.content;
  },
  methods: {
    update: function(event) {
      this.$emit('update', event.target.innerText);
    },
  },
})

new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  template: `
    <form action="{% url 'post-edit' pk %}" method="post">
      {% csrf_token %}

      <div id="editor" class="pad-h-sm">

        <div id="title">
          <input name="title" type="text" hidden :value="title">

          <title-editable class="text-primary text-mono" :content="title" @update="title = $event"></title-editable>

          <p class="text-hint">Markdown is supported.</p>
        </div>

        <div id="controls">
          <button class="primary" type="submit">Save</button>
        </div>

        <textarea id="edit" name="content" rows="16" v-model="content" class="full-width"></textarea>

        <p id="preview" v-html="marked(content)"></p>
      </div>

    </form>
  `,
  data: {
    title: '{{ title | escapejs }}',
    content: '{{ content | escapejs }}',
  },
  methods: {
    marked: function (content) {
      return marked(content);
    },
  },
})
</script>
{% endblock scripts %}
