{% extends "page.html" %}

{% block page %}
<div id="app"></div>
{% endblock page %}

{% block scripts %}
<script type="text/javascript">

new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  template: `
    <div>
      <!-- Header -->
      <div class="text-center text-mono pad-h-sm">
        <h1 class="text-primary">Florimond Manca</h1>
        <h2>Notes from a curious coder</h2>
      </div>

      <!-- List of blog posts -->
      <div class="list">
        <span class="post" v-for="post in posts" :key="post.id" :post="post">
          <span class="label text-muted">
          [[ post.published ]]
        </span>
          <strong>
          <a :href="post.id">
          [[ post.title ]]
          </a>
          </strong>
        </span>
      </div>
    </div>
  `,
  data: {
    posts: [],
  },
  mounted: function () {
    this.getPosts();
  },
  methods: {
    getPosts: function () {
      this.$http.get('/api/posts')
        .then(function(response) { this.posts = response.data })
        .catch(function(error) { console.log(error) })
    },
  },
})
</script>
{% endblock scripts %}
