{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Florimond Manca{% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {# highlight.js theme #}
  {# see: https://cdnjs.com/libraries/highlight.js/ #}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css">
  {# My styles #}
  <link href="{% sass_src 'scss/styles.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
  {% block styles %}
  {% endblock styles %}
</head>

<body>
  <nav id="nav">
    <ul>
      <li>
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
  <main id="main">
    {% block main %}
    {% endblock main %}
  </main>
  <footer id="footer">
    {% block footer %}
    © {% now "Y" %} Florimond Manca
    {% endblock footer %}
  </footer>

  {# Vue #}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  {# Vue Resource: simple API calls in Vue #}
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

  {# Moment: date manipulation #}
  <script src="{% static 'js/moment.min.js' %}" charset="utf-8"></script>

  {# Highlight: syntax highlighting #}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  {# Marked: Markdown rendering #}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <script type="text/javascript">
    // Render Markdown code blocks using HighlightJS
    marked.setOptions({
      highlight: function(code, lang) {
        return hljs.highlight(lang, code).value;
      },
    });
  </script>

  {% block scripts %}{% endblock scripts %}

</body>

</html>
