{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Florimond Manca{% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block styles %}
    <link href="{% sass_src 'scss/styles.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}
</head>

<body>
  <main id="main">
    {% block main %}
    {% endblock main %}
  </main>
  <footer id="footer">
    {% block footer %}
    © {% now "Y" %} Florimond Manca
    {% endblock footer %}
  </footer>
</body>

</html>
